@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #4F46E5;
    --dark-grey: #6B7280;
    --off-white: #E5E7EB;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}

/** container **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/* this was for total links */

.primary-link {
    background-color: var(--primary-color);
    border-radius: 00.5rem;
    /**this is for border**/
    color: white;
    /**this is color of the text**/
}

/* this is for primary */
.secondary-link {
    color: var(--primary-color);
    border-radius: 00.5rem;
    border: 1px solid var(--primary-color);
}

/* this is for secondary */

/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;

}

/* navigations */

.navigation {
    background-color: var(--primary-color);
    color: white;
    /* text-align: right; */
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

/* first navigation is for navigation area then we use other classes that we have defined to make changes inside navigation */
.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
    /* text-align: right; */
}

.navigation .link-active {
    font-weight: bold;
}

/**header**/

.hero {
    padding: 2rem;
}

.hero .hero-image {
    max-width: 400px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    color: var(--dark-grey);
    padding-top: 1rem;
}

/* we can do the span thingi here as well
by making span a class and then changing its color here ez as that... */

/* ************** */

/* sections */

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

/* footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
    /* text-decoration: underline; */
}

.footer ul {
    padding-inline-start: 0px;
}