@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #4F46E5;
    --dark-grey: #6B7280;
    --off-white: #E5E7EB;
}
html {
    height: -webkit-fill-available;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    width: auto;
}

hr {
    margin: 1rem 0rem;
    border: 1px solid var(--almost-black);
}

/* space */

.space{
    padding: 5rem;
}

/** container **/
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/* this was for total links */

.primary-link {
    display: inline-block;
    padding: 0.75rem 0.75rem;
    margin-right: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    background-color: var(--primary-color);
    border-radius: 00.5rem;
    /**this is for border**/
    color: white;
    /**this is color of the text**/
}

/* this is for primary */
.secondary-link {
    color: var(--primary-color);
    border-radius: 00.5rem;
    border: 1px solid var(--primary-color);
}

/* this is for secondary */

/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;

}

/* navigations */

.navigation {
    width: auto;
    background-color: var(--primary-color);
    color: white;
    /* text-align: right; */
    /* padding: 1rem;
    border-bottom-left-radius: 1rem; */
    padding: 1rem 0.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0rem 1rem;
}

/* first navigation is for navigation area then we use other classes that we have defined to make changes inside navigation */
.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
    /* text-align: right; */
}

.navigation .link-active {
    font-weight: bold;
    /* text-decoration: solid; */
}

/**header**/

.hero {
    position: relative;
    z-index: -100;
    padding: 1rem 0rem;
    padding-top: 4rem;
   
}

.hero .hero-image {
    max-width: 350px;
    max-height: 250px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    display: block;
    text-align: center;
    color: var(--dark-grey);
    padding-top: 2rem;
}

/* we can do the span thingi here as well
by making span a class and then changing its color here ez as that... */

/* ************** */

/* sections */

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

/* footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
    text-align: center;
    /* text-decoration: underline; */
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.align-center{
    text-align: center;
    display: block; 
}

.justified{
    text-align: justify !important;
}
